/* reset */
*{margin: 0; padding: 0; font-size: 16px;}
a {color: #333; text-decoration: none;}
li{list-style: none;}
.clearix::before, .clearfix::after {content: ''; display: block; content: ''; clear: both}

#wrap {width: 1000px; margin: 0 auto;}

/* 로고이미지 */ /* 패딩 순서는 시계방향 */
#header h1 {float : left; padding 15px 0 10px;}
#header h1 img{float:left; height: 65px; width: 200px; line-height: 36x;}

#header .nav {float: right; background: #fff;}
#header .nav li {position: relative; float: left; width: 140; text-align: center;}
#header .nav li a {display: block; font-size: 20px; font-weight: bold; padding: 24px 28px 20px 20px; color: #294093;}
#header .nav li a:hover{background: #1D294C; color: #fff;}
#header .nav li ul.submenu {display: none; position: absolute; left: 0; top: 67px; z-index: 100;}
#header .nav li ul.submenu li a {padding: 10px; background: #465FA5; color: #fff;}
#header .nav li ul.submenu li a:hover {background: #1D294C;}

#baner {height: 389px; overflow: hidden;}
#baner img {width: 100%; display: block;}

.slidelist {position: relative; width: 3000px; z-index: 50;}
.slidelist .slideimg {position: relative; width: 1000px; float: left;}



#baner2 {text-align: center;}
#baner2 .banner2{margin-right: 20px; margin-top: 20px; height: 128px; overflow: hidden;}
#baner2 .banner3{margin-top: 20px; height: 128px; overflow: hidden;}
#baner2 div {float:left; width: 490px; height: 128px; line-height: 128px;}

#mockup {margin-top: 30px;}
#mockup .best figure {float: left; width: 32%; margin-right: 2%;}
#mockup .best figure img {width: 100%}
#mockup .best figure:last-child{margin-right: 0;}
#mockup .cont1 figcaption {margin-bottom: 10px; margin-top: 10px;}


#footer {padding: 20px 0; background: #25293D; margin-top: 20px;}
#footer h2 {float: left; padding-left: 20px;}
#footer h2 img {width: 100%;}
#footer .foot1 {float: right; padding-right: 30px;}
#footer .foot1 ul {padding-bottom: 10px;}
#footer .foot1 ul li{display: inline;}
#footer .foot1 ul li a{color: #fff; padding-right: 10px;}
#footer .foot1 address {font-style: normal; color: #ccc;}


